@font-face {
  font-family: Royalacid;
  src: url("./Assets/Fonts/Royalacid.ttf");
}

@font-face {
  font-family: Royalacid_o;
  src: url("./Assets/Fonts/Royalacid_o.ttf");
}

body {
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
